@font-face {
  font-family: 'Roboto-Bold';
  font-weight: 700;
  font-style: normal;
  src: url('./assets/Roboto\ \(1\)/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Light';
  font-weight: 300;
  font-style: normal;
  src: url('./assets/Roboto\ \(1\)/Roboto-Light.ttf') format('truetype');
}

div,
img,
h1,
h2,
h3,
h4,
h5,
p,
nav,
ul,
li,
button,
input {
  padding: 0px;
  margin: 0px;
}

:root {
  --backgroundColor: rgb(99, 38, 157);
  --inputTextColor: rgb(213, 194, 228);
  --placeholderColor: rgb(156, 149, 161);
}

body {
  background-color: var(--backgroundColor);
  display: grid;
  justify-items: center;
}

input {
  font-family: 'Roboto-Bold', sans-serif;
  font-size: 1.5rem;
  outline: none;
  padding: 10px;
  border: none;
  background-color: var(--backgroundColor);
  color: var(--inputTextColor);
  letter-spacing: 1px;
}

input::placeholder {
  color: var(--placeholderColor);
}

.search {
  display: grid;
  justify-items: center;
}

.search-row {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
}

.search-action {
  height: 25px;
  width: 25px;
  background-image: url('./assets/Data/search.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.error {
  margin-top: 5px;
  font-family: 'Roboto-Light';
  color: red;
  font-size: 1.3rem;
}
