@font-face {
  font-family: 'Roboto-Bold';
  font-weight: 700;
  font-style: normal;
  src: url('./assets/Roboto\ \(1\)/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Light';
  font-weight: 300;
  font-style: normal;
  src: url('./assets/Roboto\ \(1\)/Roboto-Light.ttf') format('truetype');
}

div,
img,
h1,
h2,
h3,
h4,
h5,
p,
nav,
ul,
li,
button,
input {
  padding: 0px;
  margin: 0px;
}

:root {
  --backgroundColor: rgb(99, 38, 157);
  --activeDegreeButton: rgb(145, 102, 186);
}

body {
  background-color: var(--backgroundColor);
  display: grid;
  justify-items: center;
}

input {
  font-family: 'Roboto-Bold', sans-serif;
  font-size: 1.5rem;
  outline: none;
  padding: 10px;
  border: none;
  background-color: var(--backgroundColor);
  color: white;
  letter-spacing: 1px;
  width: 300px;
}

input::placeholder {
  color: white;
}

.search {
  display: grid;
  justify-items: center;
}

.search-row {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
}

.search-action {
  height: 25px;
  width: 25px;
  background-image: url('./assets/Data/search.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.error {
  margin-top: 5px;
  font-family: 'Roboto-Light', sans-serif;
  color: red;
  font-size: 1.3rem;
  min-height: 30px;
}

.c-f {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.c,
.f {
  font-family: 'Roboto-Bold', sans-serif;
  font-size: 1.3rem;
  padding: 10px;
  width: 100px;
  border-radius: 10px;
  background-color: var(--backgroundColor);
  border: 1px solid white;
  color: white;
  cursor: pointer;
}

.c:hover, .f:hover {
  background-color: var(--activeDegreeButton);
}

.selected {
  background-color: var(--activeDegreeButton);
}
