@font-face {
  font-family: 'Roboto-Bold';
  font-weight: 700;
  font-style: normal;
  src: url('./assets/Roboto\ \(1\)/Roboto-Bold.ttf') format('truetype');
}

img,
h1,
h2,
h3,
h4,
h5,
p,
nav,
ul,
li,
button,
input,
div {
  padding: 0px;
  margin: 0px;
}

:root {
  --backgroundColor: rgb(99, 38, 157);
  --inputTextColor: rgb(213, 194, 228);
  --placeholderColor: rgb(156, 149, 161);
}

body {
  background-color: var(--backgroundColor);
  display: grid;
  justify-items: center;
}

input {
  font-family: cursive;
  font-family: 'Roboto-Bold', sans-serif;
  font-size: 1.5rem;
  outline: none;
  padding: 10px;
  border: none;
  border-bottom: 1px solid white;
  background-color: var(--backgroundColor);
  color: var(--inputTextColor);
  letter-spacing: 1px;
}

input::placeholder {
  color: var(--placeholderColor);
}
